APP_PORT=3000

GMAIL_USER=your_gmail_provider_account
GMAIL_PASS=your_gmail_password

RABBITMQ_DEFAULT_USER=your_rabbitmq_username
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password
RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672
RABBITMQ_MAIN_QUEUE=main_queue
RABBITMQ_EMAIL_QUEUE=email_queue
RABBITMQ_USER_QUEUE=user_queue
RABBITMQ_NOTIFICATION_QUEUE=notification_queue
RABBITMQ_INSURANCE_QUEUE=insurance_queue

DB_HOST_INSURANCE=dbinsurance
DB_PORT_INSURANCE=5432
DB_USERNAME_INSURANCE=postgres
DB_PASSWORD_INSURANCE=root
DB_NAME_INSURANCE=insuranceservices
DB_SYNCHRONIZE_INSURANCE=false
DB_LOGGING_INSURANCE=true
JWT_SECRET_INSURANCE=secret

DB_HOST_NOTIFICATION=dbnotification
DB_PORT_NOTIFICATION=5432
DB_USERNAME_NOTIFICATION=postgres
DB_PASSWORD_NOTIFICATION=root
DB_NAME_NOTIFICATION=notificationservices
DB_SYNCHRONIZE_NOTIFICATION=false
DB_LOGGING_NOTIFICATION=true
JWT_SECRET_NOTIFICATION=secret

DB_HOST_USER=dbuser
DB_PORT_USER=5432
DB_USERNAME_USER=postgres
DB_PASSWORD_USER=root
DB_NAME_USER=userservices
DB_SYNCHRONIZE_USER=true
DB_LOGGING_USER=true
JWT_SECRET_USER=secret